<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} | %5p | %c:%L | %m%n" />
        </layout>
    </appender>

    <logger name="org.hibernate.SQL" additivity="true">
        <level value="debug" />
    </logger>


    <logger name="org.springframework.orm.jpa.JpaTransactionManager" additivity="true">
        <level value="debug" />
    </logger>


    <logger name="org.sjr.babel" additivity="true">
        <level value="debug" /><!-- config spécifique pour les messages émis depuis une méthode d'une classe du package org.sjr.babel -->
    </logger>

    <root><!-- configuration par défaut -->
        <priority value="warn" />
        <appender-ref ref="ConsoleAppender" />
    </root>
</log4j:configuration>
